<?xml version="1.0"?>
<robot name="erp42" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find erp42)/urdf/macros_erp42.xacro"/>

  <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-OK-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
  <link name="structure">
    
    <visual name="visual">
      <origin xyz="0 0 -0.03" rpy="0 0 3.14" />
      <geometry>
        <mesh filename="package://erp42/meshes/erp42_structure.dae" scale="1 1 1"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
      <!--<box size=" 1.0 1.0 0.2"/>-->
      <mesh filename="package://erp42/meshes/erp42_structure.dae" scale="1 1 1"/>
      </geometry>
         <origin xyz="0 0 -0.03" rpy=" 0 0 3.14" />
    </collision>
    
    <inertial>
      <mass value="160"/>
      <origin xyz="0 0 0" />
      <inertia ixx="20.43" ixy="0.584" ixz="-0.191" iyy="54.197" iyz="-0.2449" izz="72.2588"/>
    </inertial>
  </link>

<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxXXXXXX  LINK  XXXXXXXXXxXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  <xacro:wheel prefix="right" suffix="front" x="0" y="0" z="0" pitch="0" yall="1.5707"/> 
  <xacro:wheel prefix="right" suffix="back" x="0" y="0" z="0" pitch="0" yall="1.5707"/>
  <xacro:wheel prefix="left" suffix="front" x="0" y="0" z="0" pitch="3.1414" yall="1.5707"/>
  <xacro:wheel prefix="left" suffix="back" x="0" y="0" z="0" pitch="3.1414" yall="1.5707"/>
  <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  DISK LINK  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  <xacro:disk_wheel prefix="right" suffix="front" roll="0" pitch="0" yall="1.5707"/>  <!--yall value is only for visual -->
  <xacro:disk_wheel prefix="left" suffix="front" roll="0" pitch="0" yall="-1.5707"/>  <!--yall value is only for visual -->

  <xacro:disk_back_wheel prefix="right" suffix="back" roll="0" pitch="0" yall="1.5707"/>  <!--yall value is only for visual -->
  <xacro:disk_back_wheel prefix="left" suffix="back" roll="0" pitch="0" yall="-1.5707"/>  <!--yall value is only for visual -->

  <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  actuator  1  2   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  <xacro:wheel_front_joint prefix="right" suffix="front" x="0" y="0.08" z="0" /> <!--rotation in y axes, wheel connect with the front disk-->
  <xacro:wheel_front_joint prefix="left" suffix="front" x="0" y="-0.08" z="0"/>  <!--rotation in y axes, wheel connect with the front disk-->
  <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  actuator  3  4   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  <xacro:wheel_back_joint prefix="right" suffix="back" x="0" y="0.08" z="0" />   <!--rotation in y axes wheel connect with the back disk-->
  <xacro:wheel_back_joint prefix="left" suffix="back" x="0" y="-0.08" z="0" />   <!--rotation in y axes wheel connect with the back disk-->
  <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  actuator 5 6  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  <xacro:front_disk_wheel_joint prefix="right" suffix="front" x="0.53" y="0.51" z="0"/>  <!--disk rotation in z axes, disk connect with structure-->
  <xacro:front_disk_wheel_joint prefix="left"  suffix="front" x="0.53" y="-0.51" z="0"/> <!--disk rotation in z axes, disk connect with structure-->
  <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  fixed  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  <xacro:back_disk_wheel_joint prefix="right" suffix="back" x="-0.49" y="0.51" z="0"/>  <!--disk rotation in z axes, disk connect with structure-->
  <xacro:back_disk_wheel_joint prefix="left" suffix="back" x="-0.49" y="-0.51" z="0"/> <!--disk rotation in z axes, disk connect with structure-->

  <xacro:my_camera prefix="middle" /> <!-- camera link we cant use the name camera due to create a confuse with gazebo and presente the problem with 
	invalided parameter name--> 
  <xacro:my_camera prefix="right" /> <!-- camera link we cant use the name camera due to create a confuse with gazebo and presente the problem with 
	invalided parameter name--> 
  <xacro:my_camera prefix="left" /> <!-- camera link we cant use the name camera due to create a confuse with gazebo and presente the problem with 
	invalided parameter name--> 
  <xacro:my_camera prefix="back" /> <!-- camera link we cant use the name camera due to create a confuse with gazebo and presente the problem with 
	invalided parameter name--> 
  <xacro:camera_joint prefix="middle" x="0.05" y="0" z="0.3" roll="0" pitch="0" yall="0"/> <!--camera joint-->
  <xacro:camera_joint prefix="left" x="0.05" y="0.10" z="0.3" roll="0" pitch="0" yall="0.785"/> <!--camera joint-->
  <xacro:camera_joint prefix="right" x="0.05" y="-0.10" z="0.3" roll="0" pitch="0" yall="-0.785"/> <!--camera joint-->
  <xacro:camera_joint prefix="back" x="-0.05" y="0" z="0.4" roll="0" pitch="0" yall="3.1414"/> <!--camera joint-->
  <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/erp42_control</robotNamespace>  
      <!--<robotNamespace>/</robotNamespace>erp42 TORQUE CONTROL--> 
      <legacyModeNS>true</legacyModeNS>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>
  
   
<gazebo>
  <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
    <updateRate>20.0</updateRate>
    <robotNamespace>/</robotNamespace>
    <leftFrontJoint>left_front_wheel_joint</leftFrontJoint>
    <rightFrontJoint>right_front_wheel_joint</rightFrontJoint>
    <leftRearJoint>left_back_wheel_joint</leftRearJoint>
    <rightRearJoint>right_back_wheel_joint</rightRearJoint>
    <wheelSeparation>0.51</wheelSeparation>
    <wheelDiameter>0.56</wheelDiameter>
    <robotBaseFrame>structure</robotBaseFrame>
    <broadcastTF>false</broadcastTF>
    <odometryTopic>odom_skid</odometryTopic>
    <odometryFrame>odom_skid</odometryFrame>
  </plugin>
</gazebo>
  
 <!-- odom -->
<gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
      <alwaysOn>true</alwaysOn>
      <updateRate>20</updateRate>
      <legacyMode>false</legacyMode>
      <leftJoint>left_front_wheel_joint</leftJoint>
      <rightJoint>right_front_wheel_joint</rightJoint>
      <wheelSeparation>0.51</wheelSeparation>
      <wheelDiameter>0.56</wheelDiameter>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>structure</robotBaseFrame>
    </plugin>
  </gazebo>

  <!-- imu -->
  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>structure</bodyName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>20.0</updateRate>
    </plugin>
  </gazebo>

<!-- left_camera -->
<gazebo reference="left_camera">
    <sensor type="camera" name="left_camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>/erp42/left_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>left_camera</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

<!-- right_camera -->
<gazebo reference="right_camera">
    <sensor type="camera" name="right_camera2">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>/erp42/right_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>right_camera</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

<!-- middle_camera -->
<gazebo reference="middle_camera">
    <sensor type="camera" name="middle_camera3">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>/erp42/middle_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>middle_camera</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>


<!-- back_camera -->
<gazebo reference="back_camera">
    <sensor type="camera" name="back_camera4">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>/erp42/back_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>back_camera</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
</robot>
   

 
